<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <i class="fab fa-angellist"></i>
            NODE JS
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/role/list">Roles</a></li>
            <li><a href="/admin/user/list">Users</a></li>
            <li><a href="/admin/product/list">Products</a></li>
        </ul>
    </div>

</div>
</nav>