<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
    <% include layouts/head %>
</head>
<body class="container">

<!-- Header -->
<header>
    <% include layouts/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to NODE JS</p>
    </div>
</main>

<!-- Footer -->
<footer>
    <% include layouts/footer %>
</footer>

</body>
</html>